DB_HOST=
DB_PASSWORD=
DB_DATABASE=
DB_USERNAME=

PRODUCTION=

MAIL_MAILER= "smtp"
MAIL_HOST= "HOST_OF_YOUR_SMTP_SERVER"
MAIL_PORT= "PORT_OF_YOUR_SMTP_SERVER"
MAIL_USERNAME= "YOUR_USERNAME_SMTP_SERVER"
MAIL_PASSWORD= "YOUR_SMTP_SERVER_PASSWORD"
MAIL_FROM = "FROM_ADDRESS"
MAIL_FROM_NAME = "FROM_NAME"
MAIL_SECURE_PROTOCOL = "PROTOCOL_TO_USE"